.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: auto;
  gap: 2rem;
}

.title {
  font-family: var(--font-title);
  color: var(--flexoki-red);
  text-align: center;
  font-size: clamp(2rem, 5vw, 4rem);
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}
